{% extends "base.html" %}
{% block title %}Create a Tracker - Anytracker{% endblock %}

{% block body%}

<div class="container">
    <div class="container-fluid heading-holder">
        <center>
            <h1 class="headings-style">Update</h1>
            <h3 class="subheadings-color">{{ tracker_name }}</h3>
        </center>
    </div>
    <div class="container-fluid create-tracker-form">
        <h4 class="headings-style">Tracker details</h4>
        <p class="subheadings-color">Leave any value empty if you want it to remain as is</p>
        <hr color="white">
        <form method="post">
            <p class="subheadings-color create-tracker-form-subheadings">Current X-Axis values: {{ graphs_info.x_values }}</p>
            <label for="x-axis-values" class="subheadings-color create-tracker-form-subheadings">Enter X-Axis values (seperated by a comma , )</label>
            <div class="input-group input-group-sm axis-values-input">
                <input type="text" class="form-control" placeholder="" name="x-axis-values" id="x-axis-values">
            </div>
            <hr color="white">
            <p class="subheadings-color create-tracker-form-subheadings">Current Y-Axis values: {{ graphs_info.y_values }}</p>
            <label for="y-axis-values" class="subheadings-color create-tracker-form-subheadings">Enter Y-Axis values (seperated by a comma , )</label>
            <div class="input-group input-group-sm axis-values-input">
                <input type="text" class="form-control" placeholder="" name="y-axis-values" id="y-axis-values">
            </div>
            <hr color="white">
            <p class="subheadings-color create-tracker-form-subheadings">Current X-Axis label: {{ graphs_info.x_axis_label }}</p>
            <label for="x-axis-label" class="subheadings-color create-tracker-form-subheadings">Enter X-Axis label</label>
            <div class="input-group input-group-sm axis-values-input">
                <input type="text" class="form-control" placeholder="" name="x-axis-label" id="x-axis-label">
            </div>
            <hr color="white">
            <p class="subheadings-color create-tracker-form-subheadings">Current Y-Axis label: {{ graphs_info.y_axis_label }}</p>
            <label for="y-axis-label" class="subheadings-color create-tracker-form-subheadings">Enter Y-Axis label</label>
            <div class="input-group input-group-sm axis-values-input">
                <input type="text" class="form-control" placeholder="" name="y-axis-label" id="y-axis-label">
            </div>
            <br>
            <button type="submit" class="btn buttons-styling">Update this tracker</button>
        </form>
    </div>

</div>

{% endblock %}