{% extends "base.html" %}
{% block title %}Anytracker - Verification{% endblock %}

{% block body %}
<div class="container">
    <center>
        <h1 class="headings-style">Identify yourself!</h1>
    </center>
    <br>
    <div class="container-fluid">
        <h3 class="subheadings-color">Enter the code that was sent to your email address</h3>
        <form method="post">
            <input type="text" placeholder="CODE" name="code-input" id="code-input">
            <button type="submit" class="buttons-styling btn">Enter</button>
        </form>
    </div>
</div>

{% endblock %}